button {
    font-size: 50px;
    font-family: sans-serif;
    height: 150px;
}

#content {
    margin: 20px auto;
    width: 95%;
}

#copy-all, #clear-all {
    width: 100%;
}

#clippings {
    overflow-x: scroll;
    font-size: 25px;
}

#clear-all-confirm {
    display: none;
    z-index: 2147483647;
    position: fixed;
    width: 100%; height: 100%;
    top: 0; left: 0;
    background-color: white !important;
}

#clear-all-yes, #clear-all-no {
    width: 95%;
}

#yes-no-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}
